.gallery .btn.flexible {
    padding: 1em;
    border-radius: 2em;
    margin-inline-start: 2em;
    color: white;
    background-color: #ff6600;
    font-weight: bold;
    cursor: pointer;
    transition: opacity .2s;
}

.gallery .btn.flexible:hover {
    opacity: .6;
}

.gallery .keywords-container {
    display: inline-block;
    margin-inline-start: 5em;
}

.gallery .keywords-container > *:hover {
    cursor: pointer;
}

.gallery .keywords-container > *:not(:last-child) {
    margin-inline-end: 0.5em;
}