.gallery-top-section {
    padding-bottom: 0;
}

.gallery-top-section .btn.flexible {
    place-self: center;
    width: 50%;
    padding: 1em;
    border-radius: 2em;
    color: white;
    background-color: #ff6600;
    font-weight: bold;
    cursor: pointer;
    transition: opacity .2s;
}

.gallery-top-section input {
    border-radius: 2em;
}

.gallery-top-section .keywords-container {
    place-self: center;
}

.gallery-top-section .keywords-container > *:hover {
    cursor: pointer;
}

.gallery-top-section .keywords-container > *:not(:last-child) {
    margin-inline-end: 0.5em;
}